[user]
	name = Juntang
	email = 150919274+qqgjyx@users.noreply.github.com

[init]
	defaultBranch = main

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = false

[core]
	autocrlf = input
	eol = lf
